// colors

.bg-gradient-theme {
    background: theme-color("primary");
}
.bg-gradient-theme-top {
    background: theme-color("primary");
}
.bg-gradient-theme-left {
    background: theme-color("primary");
}
.bg-gradient-theme-right {
    background: theme-color("primary");
}
.bg-login-button{
  background: theme-color("primary");
}
