p {
  font-size: 18px;
}
.form-check-input{
  margin-left: 0rem;
  position: relative;
}
.form-check{
  padding-top: 15px;
}
textarea {
  height: 150px;
}
.profile-button{
  width: 120px;
}